%h1 Listing portfolios
= link_to 'New Portfolio', new_portfolio_path
- @portfolios.each do |portfolio|
 
  .span4
    %p
    %p
    =portfolio.name
    %p
    = link_to image_tag(portfolio.pimage_url(:thumb)), portfolio

 


