Welcome to Snapdeal, #{@carrier.firstname}
\===============================================

You have successfully signed up to Snapdeal,
your username is: #{@carrier.firstname}.

To login to the site, just follow this link: #{@url}.

Thanks for joining and have a great day!
