%h1 Welcome To Snapdeal
%br
= image_tag("download.jpg")

%p
  Snapdeal.com is an online marketplace, headquartered in New Delhi, India. The company was started by Kunal Bahl, a Wharton graduate as part of the dual degree M&T Engineering and Business program at Penn, and Rohit Bansal, an alumnus of IIT Delhi in February 2010.
 
%p
  Snapdeal has recently launched its best mobile app[5] for iOS users. The app, already available for Windows and Android users, provides users access to Snapdeal's various product categories.
