!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Snapdeal, #{@contact.name}
    %p
      You have successfully signed up to Snapdeal.com,
      %br/
      Your Feedback is: #{@contact.message}.
      %br/
      Feedback from: #{@contact.email}
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!
