
.footer.navbar-fixed-bottom
  .span4
    %p &copy; Snapdeal 2014
  .span4
    %a.phone{href: "tel:+16175008459"} +1 617-500-8459    
  .span4
    %a.mail{href: "mailto:sasha@vertalab.com"} snapdeal@info.com